


.style2 {font-family: Arial, Helvetica, sans-serif}
.style4 {color: #FF0000}
.style8 {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.style10 {color: #FF0000; font-size: 16px; }
.style13 {font-size: 16px; font-family: Arial, Helvetica, sans-serif; }
.style17 {font-family: Arial, Helvetica, sans-serif; font-weight: bold; }

.style18 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}