/* line 1, scss/components/_generic.scss */
html {
  font-size: 10px;
}

/* line 5, scss/components/_generic.scss */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* line 11, scss/components/_generic.scss */
p, table, span {
  margin: 0.5em 0;
  text-align: justify;
  font-size: 1.8rem;
  line-height: 2rem;
}
@media only screen and (min-width: 960px) {
  /* line 11, scss/components/_generic.scss */
  p, table, span {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}

/* line 23, scss/components/_generic.scss */
body {
  background-color: #fff;
}

/* line 27, scss/components/_generic.scss */
img {
  border: 0;
}

/* line 31, scss/components/_generic.scss */
a {
  border: 0;
  color: #FF0000;
  font-weight: bold;
  text-decoration: underline;
}
/* line 37, scss/components/_generic.scss */
a:hover {
  text-decoration: none;
  color: #FF4B4A;
}
/* line 42, scss/components/_generic.scss */
a:active {
  text-decoration: underline;
  color: #FF4B4A;
}
/* line 47, scss/components/_generic.scss */
a img {
  border: none;
}

/* line 52, scss/components/_generic.scss */
h3 {
  font-size: 2.2rem;
  line-height: 2.4rem;
}
@media only screen and (min-width: 960px) {
  /* line 52, scss/components/_generic.scss */
  h3 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}

/* line 62, scss/components/_generic.scss */
hr {
  background: #F00;
  border: none;
  width: 100%;
  height: 4px;
  margin: auto;
}

/* line 70, scss/components/_generic.scss */
.wrapper {
  overflow: hidden;
  padding: 0;
  position: relative;
}
@media only screen and (min-width: 540px) {
  /* line 70, scss/components/_generic.scss */
  .wrapper {
    border: 5px solid red;
    border-radius: 20px;
    margin: 5px 20px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 70, scss/components/_generic.scss */
  .wrapper {
    border: none;
    border-radius: 0;
    margin: auto;
    width: 960px;
  }
}

/* line 89, scss/components/_generic.scss */
.clear {
  clear: both;
}

/* line 93, scss/components/_generic.scss */
.textTitle {
  color: #ff0000;
  font-weight: bolder;
  font-size: 2rem;
  line-height: 2.2rem;
}
@media only screen and (min-width: 960px) {
  /* line 93, scss/components/_generic.scss */
  .textTitle {
    font-size: 1.6rem;
    line-height: 1.8em;
  }
}

/* line 105, scss/components/_generic.scss */
.style3 {
  color: #000000;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

/* line 111, scss/components/_generic.scss */
.style5 {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
@media only screen and (min-width: 960px) {
  /* line 111, scss/components/_generic.scss */
  .style5 {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}

/* line 123, scss/components/_generic.scss */
.style15 {
  color: #FF0000;
  font-weight: bold;
}

/* line 1, scss/components/_header.scss */
.branding {
  height: 64px;
  width: 100%;
}
@media only screen and (min-width: 540px) {
  /* line 1, scss/components/_header.scss */
  .branding {
    height: 80px;
  }
}
@media only screen and (min-width: 640px) {
  /* line 1, scss/components/_header.scss */
  .branding {
    height: 120px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 1, scss/components/_header.scss */
  .branding {
    float: left;
    height: 90px;
    width: 960px;
  }
}
/* line 19, scss/components/_header.scss */
.branding .title {
  background: url(../images/branding/mainHeader.png) no-repeat;
  display: none;
  float: left;
  height: 90px;
  width: 600px;
}
@media only screen and (min-width: 960px) {
  /* line 19, scss/components/_header.scss */
  .branding .title {
    display: block;
  }
}
/* line 31, scss/components/_header.scss */
.branding .mobile_title {
  display: block;
  float: left;
  width: 80%;
}
@media only screen and (min-width: 960px) {
  /* line 31, scss/components/_header.scss */
  .branding .mobile_title {
    display: none;
  }
}
/* line 41, scss/components/_header.scss */
.branding .splash {
  display: none;
  float: left;
  height: 75px;
  padding-top: 15px;
  width: 360px;
}
@media only screen and (min-width: 960px) {
  /* line 41, scss/components/_header.scss */
  .branding .splash {
    display: block;
  }
}

/* line 1, scss/components/_nav.scss */
.menu {
  background: none;
  border: none;
  height: 50px;
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  z-index: 10;
}
/* line 13, scss/components/_nav.scss */
.menu span {
  color: red;
  display: block;
  font-size: 50px;
  margin: auto;
  position: relative;
}
@media only screen and (min-width: 540px) {
  /* line 1, scss/components/_nav.scss */
  .menu {
    height: 64px;
    width: 64px;
  }
  /* line 25, scss/components/_nav.scss */
  .menu span {
    font-size: 64px;
  }
}
@media only screen and (min-width: 640px) {
  /* line 1, scss/components/_nav.scss */
  .menu {
    height: 100px;
    width: 100px;
  }
  /* line 34, scss/components/_nav.scss */
  .menu span {
    font-size: 100px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 1, scss/components/_nav.scss */
  .menu {
    display: none;
  }
}

/* line 44, scss/components/_nav.scss */
.leftCol {
  width: 100%;
}
/* line 47, scss/components/_nav.scss */
.leftCol .leftLogo {
  background: url(../images//branding/logoBottom.png) no-repeat;
  display: none;
  float: left;
  height: 120px;
  width: 220px;
}
@media only screen and (min-width: 960px) {
  /* line 47, scss/components/_nav.scss */
  .leftCol .leftLogo {
    display: block;
  }
}
/* line 59, scss/components/_nav.scss */
.leftCol .navBar {
  border-top: solid 3px red;
  border-bottom: solid 3px red;
  display: none;
  margin-bottom: 20px;
}
/* line 66, scss/components/_nav.scss */
.leftCol .navBar a {
  text-decoration: none;
}
/* line 70, scss/components/_nav.scss */
.leftCol .navBar li {
  text-align: center;
}
/* line 74, scss/components/_nav.scss */
.leftCol .navBar li:nth-child(odd) {
  background: mistyrose;
}
/* line 78, scss/components/_nav.scss */
.leftCol .navBar li:hover {
  background: red;
}
/* line 82, scss/components/_nav.scss */
.leftCol .navBar h3:hover {
  color: white;
}
/* line 86, scss/components/_nav.scss */
.leftCol .navBar h3 {
  line-height: 5rem;
}
@media only screen and (min-width: 960px) {
  /* line 86, scss/components/_nav.scss */
  .leftCol .navBar h3 {
    display: none;
  }
}
/* line 94, scss/components/_nav.scss */
.leftCol .navBar img {
  display: none;
}
@media only screen and (min-width: 960px) {
  /* line 59, scss/components/_nav.scss */
  .leftCol .navBar {
    border: none;
    display: block !important;
    float: left;
    margin: 0;
    width: 220px;
  }
  /* line 105, scss/components/_nav.scss */
  .leftCol .navBar li {
    text-align: left;
  }
  /* line 109, scss/components/_nav.scss */
  .leftCol .navBar li:nth-child(odd) {
    background: none;
  }
  /* line 113, scss/components/_nav.scss */
  .leftCol .navBar li:hover {
    background: none;
  }
  /* line 117, scss/components/_nav.scss */
  .leftCol .navBar h3 {
    display: none;
  }
  /* line 121, scss/components/_nav.scss */
  .leftCol .navBar img {
    display: inline-block;
    vertical-align: middle;
  }
}
@media only screen and (min-width: 960px) {
  /* line 44, scss/components/_nav.scss */
  .leftCol {
    display: block;
    float: left;
    height: 540px;
    width: 220px;
  }
}

/* line 1, scss/components/_page.scss */
.content {
  width: 100%;
}
/* line 4, scss/components/_page.scss */
.content .contentMain {
  margin: 0px 10px;
  min-height: 400px;
  text-align: center;
  overflow: none;
  background: url(../images/branding/content_diamond.gif) center no-repeat;
}
@media only screen and (min-width: 640px) {
  /* line 4, scss/components/_page.scss */
  .content .contentMain {
    margin: 0px 20px;
    padding: 0px 50px;
  }
}
@media only screen and (min-width: 960px) {
  /* line 4, scss/components/_page.scss */
  .content .contentMain {
    width: 600px;
  }
}
/* line 22, scss/components/_page.scss */
.content .pageContent {
  position: relative;
  align-content: justify;
}
/* line 27, scss/components/_page.scss */
.content .nav_arrows a {
  text-align: center;
}
/* line 31, scss/components/_page.scss */
.content img {
  margin: 5px;
}
@media only screen and (min-width: 960px) {
  /* line 1, scss/components/_page.scss */
  .content {
    float: left;
    width: 740px;
  }
  /* line 39, scss/components/_page.scss */
  .content .contentTop {
    width: 740px;
    height: 74px;
    background: url(../images/branding/content_top.png) no-repeat;
  }
  /* line 45, scss/components/_page.scss */
  .content .contentMid {
    width: 740px;
    background: url(../images/branding/content_mid.png) repeat-y;
    margin: -23px 0;
  }
  /* line 51, scss/components/_page.scss */
  .content .contentBottom {
    width: 740px;
    height: 77px;
    background: url(../images/branding/content_bottom.png) no-repeat;
  }
}

@media only screen and (min-width: 540px) {
  /* line 59, scss/components/_page.scss */
  .float-right-image {
    float: right;
  }
}

@media only screen and (min-width: 540px) {
  /* line 65, scss/components/_page.scss */
  .float-left-image {
    float: left;
  }
}

/* line 71, scss/components/_page.scss */
.quote-block {
  clear: both;
  padding: 10px 20px;
}
/* line 75, scss/components/_page.scss */
.quote-block p {
  text-align: center;
}
/* line 79, scss/components/_page.scss */
.quote-block img {
  margin-top: 0;
}
@media only screen and (min-width: 540px) {
  /* line 71, scss/components/_page.scss */
  .quote-block {
    clear: none;
    padding: 10px 0 30px 30px;
    width: 300px;
  }
}

/* line 90, scss/components/_page.scss */
.content img.close-speech {
  margin-top: 0;
}

/* line 94, scss/components/_page.scss */
.contact-form {
  display: block;
}
/* line 97, scss/components/_page.scss */
.contact-form table {
  margin: auto;
}

/* line 102, scss/components/_page.scss */
.news {
  display: none;
}
@media only screen and (min-width: 540px) {
  /* line 102, scss/components/_page.scss */
  .news {
    display: block;
  }
  /* line 108, scss/components/_page.scss */
  .news .slideshowContainer {
    float: none;
    margin: auto;
  }
}
@media only screen and (min-width: 640px) {
  /* line 115, scss/components/_page.scss */
  .news .slideshowContainer {
    float: left;
    margin: 10px 10px 20px 10px;
  }
}

/* line 122, scss/components/_page.scss */
.page_image {
  width: 100%;
}
@media only screen and (min-width: 540px) {
  /* line 122, scss/components/_page.scss */
  .page_image {
    width: auto;
  }
}

@media only screen and (min-width: 640px) {
  /* line 130, scss/components/_page.scss */
  .title_footer {
    left: 50%;
    margin-top: -60px;
    position: relative;
    width: 50%;
  }
}

/* line 139, scss/components/_page.scss */
.contact-table {
  margin-top: 20px;
}
/* line 143, scss/components/_page.scss */
.contact-table img {
  margin: 0;
  padding: 0;
}
/* line 150, scss/components/_page.scss */
.contact-table .small table {
  width: 100%;
}
@media only screen and (min-width: 640px) {
  /* line 148, scss/components/_page.scss */
  .contact-table .small {
    display: none;
  }
}
/* line 159, scss/components/_page.scss */
.contact-table .large {
  display: none;
}
@media only screen and (min-width: 640px) {
  /* line 159, scss/components/_page.scss */
  .contact-table .large {
    display: inline-block;
  }
}

/* line 168, scss/components/_page.scss */
.welcome {
  margin: auto;
  max-width: 70%;
}
@media only screen and (min-width: 960px) {
  /* line 168, scss/components/_page.scss */
  .welcome {
    max-width: none;
  }
}

/* line 1, scss/components/_contact.scss */
.ContactBoxBak {
  background-attachment: scroll;
  background-image: url(../images/booknow/Contact_Box_back.gif);
  background-repeat: repeat-x;
  background-position: left top;
}

/* line 7, scss/components/_contact.scss */
.ContactCardBack {
  background-attachment: scroll;
  background-image: url(../images/booknow/Contact_card.gif);
  background-repeat: no-repeat;
  background-position: left top;
}

/* line 14, scss/components/_contact.scss */
#contactTable {
  margin: auto;
  max-width: 500px;
}
/* line 19, scss/components/_contact.scss */
#contactTable .left {
  margin: 20px;
}
@media only screen and (min-width: 540px) {
  /* line 19, scss/components/_contact.scss */
  #contactTable .left {
    float: left;
    margin: 0;
  }
}
/* line 28, scss/components/_contact.scss */
#contactTable .right {
  margin: 20px;
}
@media only screen and (min-width: 540px) {
  /* line 28, scss/components/_contact.scss */
  #contactTable .right {
    float: right;
    margin: 0;
  }
}
/* line 37, scss/components/_contact.scss */
#contactTable .top {
  display: none;
}
@media only screen and (min-width: 540px) {
  /* line 37, scss/components/_contact.scss */
  #contactTable .top {
    display: block;
  }
}
/* line 45, scss/components/_contact.scss */
#contactTable img {
  padding: 0;
  margin: 0;
}

/* line 51, scss/components/_contact.scss */
div#output form input.text, div#output form input.button, div#output form select, div#output form textarea {
  margin-top: 2px;
}

/* line 54, scss/components/_contact.scss */
html > body input.text, html > body input.button html > body select {
  height: 1em;
}

/* line 57, scss/components/_contact.scss */
*:root input.text, *:root input.button, *:root select {
  height: auto;
}

/* line 61, scss/components/_contact.scss */
input.text, input.button, textarea, select {
  font: 7pt "Verdana","Arial","Helvetica",sans-serif;
  font-weight: normal;
}

/* line 65, scss/components/_contact.scss */
input.button {
  border: 1px solid #FFFFFF;
  padding: .1em .1em;
  cursor: pointer;
  color: #000000;
  background-color: #FFFFFF;
  border-radius: 0.4em;
}

/* line 73, scss/components/_contact.scss */
input[type="submit"]:hover, input[type="submit"]:focus {
  background-color: #FFFFFF;
}

/* line 76, scss/components/_contact.scss */
input[type="submit"]:active {
  background-color: #FFFFFF;
}

/* line 79, scss/components/_contact.scss */
input[type="submit"][disabled] {
  border-color: #FFFFFF;
  color: #000000;
  background-color: #FFFFFF;
}

/* line 84, scss/components/_contact.scss */
input.text, textarea, select {
  border: 1px solid #FFFFFF;
  color: #000000;
  background-color: #FFFFFF;
  letter-spacing: 0px;
}

/* line 90, scss/components/_contact.scss */
input[type="text"]:hover, input[type="password"]:hover, textarea:hover, select:hover {
  background-color: #FFFFFF;
}

/* line 93, scss/components/_contact.scss */
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  background-color: #FFFFFF;
}

/* line 1, scss/components/_404.scss */
.four_oh_four {
  padding: 100px 0;
}
/* line 4, scss/components/_404.scss */
.four_oh_four .title {
  color: red;
  font-size: 40px;
  margin: 20px;
}
/* line 10, scss/components/_404.scss */
.four_oh_four .subtitle {
  margin: 20px;
  margin-top: -20px;
}
